.gradle
/build/
/.idea/
/kabassu-manager/build/
/kabassu-server/build/
/kabassu-test-register/build/
/kabassu-test-dispatcher/build/
/kabassu-test-dispatcher/out/
/kabassu-commons/build/
/kabassu-mocks/build/
/kabassu-mocks/out/
/kabassu-runner-junit5/build/
/kabassu-test-context/build/
/kabassu-test-examples/build/
/kabassu-test-register/out/
