.gradle
/build/
/.idea/
/kabassu-manager/build/
/kabassu-server/build/
/kabassu-test-register/build/
/kabassu-test-dispatcher/build/
/kabassu-test-dispatcher/out/
/kabassu-commons/build/
/kabassu-mocks/build/
/kabassu-mocks/out/
/kabassu-runner-junit/build/
/kabassu-test-context/build/
/kabassu-test-examples/build/
/kabassu-test-register/out/
/kabassu-results-dispatcher/build/
/kabassu-publisher-json/build/
/kabassu-integration-tests/out/
/kabassu-commons/out/
/kabassu-publisher-json/out/
/kabassu-results-dispatcher/out/
/kabassu-runner-junit/out/
/kabassu-test-context/out/
/kabassu-test-examples/out/
/kabassu-integration-tests/build/
/kabassu-storage-memory/out/
/kabassu-storage-memory/build/
/kabassu-results-retriever/build/
/kabassu-json-file-result/build/
/kabassu-manager/out/
/kabassu-test-manager/build/
/kabassu-mongo/build/
/kabassu-runner-gradle/build/
/kabassu-results-retriever-main/build/
/distribution
/java
/kabassu-results-server/build/
/kabassu-test-rerun/build/
/kabassu-suite-dispatcher/build/
/kabassu-suite-rerun/build/
